h1{
    font-weight:300;
    font-family:'Roboto', sans-serif;
    text-align:center;
}

table{
    background-position:center;
    margin-left:auto;
    margin-right:auto;
    border-collapse:collapse;
    width:50%;

}

table thead tr th{
    height:2rem;
    text-align:left;
    color:#1db954;
    background-color:#d3d3d3;
    padding:.5em;
    border-bottom:1px solid #d3d3d3;
}

img{
    height:100px;
    width:100px;
}

table tbody tr:nth-child(2n){
    background-color:#eee;
}

table tbody tr:hover{
    background-color: pink;
}

table tbody tr td{
    padding:.5em;
    border-bottom:1px solid #d3d3d3;
}